---
import Section from "../Section.astro"

import { basics } from "@cv"
const { summary, summary2 } = basics
---

<Section title="About">
  <p>
    {summary}
  </p>
  <br/>
  <p>{summary2}</p>
</Section>
